meta(charset=`utf-8`)
meta(http-equiv=`X-UA-Compatible` content=`IE=Edge`)
meta(name=`format-detection` content=`telephone=no`)
meta(name=`viewport`, content=`width=device-width, user-scalable=1, initial-scale=1, viewport-fit=cover`)
meta(name=`keywords` content=`test`)
meta(name=`description` content=`test`)
meta(property=`og:title` content=`test`)
meta(property=`og:type` content=`website`)
meta(property=`og:description` content=`test`)
meta(property=`og:url` content=`test`)
//- meta(property=`og:image` content=`XXXXXXXXXXXXXXXX`)
//- meta(property=`fb:app_id` content=`XXXXXXXXXXXXXXXX`)
meta(name=`twitter:card` content=`summary`)
meta(name=`twitter:site` content=`@XXXXX`)
meta(name=`twitter:creator` content=`@XXXXX`)
//- meta(name=`twitter:image:src` content=`XXXXXXXXXXXXXXXX`)
//- link(rel=`icon` type="image/x-icon" href=`XXXXXXXXXXXXXXXX`)
//- link(rel=`icon` type="image/png" href=`XXXXXXXXXXXXXXXX`)
//- link(rel=`apple-touch-icon` type="image/png" href=`XXXXXXXXXXXXXXXX`)

link(rel=`stylesheet` media=`print,screen` href=`${relativePath}/css/style.css`)
